PAYMENT_SERVICE_URL="https://sandbox.api.pagseguro.com"
PAYMENT_SERVICE_TOKEN="Token obtido em https://portaldev.pagbank.com.br/tokens"
PAYMENT_NOTIFICATION_URL="https://url-do-seu-sistema-para-receber-confirmacao-pagamento.com"
PAYMENT_REFERENCE_ID="id para um pedido de pagamento (código gerado pela sua aplicação para cada pedido de pagamento)"